.projects-container{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap:wrap;
  width:100%;
  min-height: 50vh;
  min-height: 60vh;
  position: relative;
  margin-bottom: 20px !important;
}


.project-card{
  display:flex;
  width: 25%;
  text-align:justify;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 1% !important;
  box-shadow: 0 4px 5px 3px #343e47 ;
  color: #414141 !important;
  background-color: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s ;
  height: 69%;
  padding-bottom: 2.5rem;
  overflow:scroll;
}

.project-card-view{
margin: 1px;
}

.project-card:hover {
  transform: scale(1.02) !important;
  /* overflow: hidden !important; */
  box-shadow: 0 4px 4px 5px #0bc3e8 !important;
}

.card-img-top{
  width: 83%;
  margin: 5px;
}

#project-heading{
  margin: 1em;
}